body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  background-color: var(--color-white);
  color: var(--color-white);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0 0 10px 5px;
  padding: 0;
}

hr {
  margin-block: 24px;
  padding: 0;
  height: 0;
  border: none;
  border-top: 1px solid var(--color-gary-200);
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}

.text-center {
  text-align: center;
}

/* Container */

.container {
  width: 100%;
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

.no-scroll {
  overflow: hidden;
}

/* Page */

.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

:root {
  --color-block-700: #0e0d35;
  --color-pink-700: #571c7d;
  --color-pink-500: #6d219c;
  --color-pink-400: #9139ae;
  --color-pink-300: #8f00be;
  --color-pink-200: #bd47e4;
  --color-pink-100: #eee3f7;
  --color-pink: #b34dd4;
  --color-white: #ffffff;
  --color-gray-100: #f2f2f2;
  --color-gary-200: #e6e6e6;
  --color-gray-300: #626c7a;
  --color-yellow: #ffe102;
  --color-blue-200: #6c8aff;
  --color-blue-400: #3f5ccc;
}

.color-pink {
  color: var(--color-pink-400);
}

/* FlexBox */

.flex {
  display: flex;
}

.align-center {
  align-items: center;
}

/* Header */

.header {
  width: 100%;
  overflow: hidden;
  background-color: var(--color-white);
}

.header_inner {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--color-pink-400);
}

.header_content {
  gap: 32px;
}

.header_content,
.header_contact,
.header_web,
.header_lang {
  display: flex;
  align-items: center;
}

.header_contact.header_contact--mob {
  display: none;
}

.header_contact,
.header_lang {
  gap: 8px;
}

.header_logo-white {
  display: none;
}

.header_web {
  gap: 16px;
}

.header_web img,
.header_lang,
.header_contact {
  cursor: pointer;
}

/* Main */

.main {
  width: 100%;
  height: 760px;
  position: relative;

  background-color: var(--color-pink-500);

  display: flex;
  flex-direction: column;
  justify-content: center;

  overflow: hidden;
}

.main_inner {
  position: relative;
}

.main_img {
  position: absolute;
  top: -50%;
  right: -2%;
}

.main_img-car {
  position: absolute;
  right: 3%;
  top: -20%;
}

.main_title {
  font-size: 48px;
  font-family: "Montserrat", sans-serif;

  font-weight: 700;

  margin-bottom: 50px;

  width: 100%;
  max-width: 568px;
}

.main_title span {
  color: var(--color-yellow);
}

.main_subtitle {
  font-size: 20px;

  width: 100%;
  max-width: 340px;
}

/* Section */

.section {
  width: 100%;
  padding-block: 140px;

  overflow: hidden;
}

.section--pink {
  background-color: var(--color-pink-100);
}

.section_title {
  text-align: center;

  margin-bottom: 60px;
  color: var(--color-pink-400);
  font-weight: 700;
  font-size: 32px;
}

/* Cards */

.section_inner {
  color: var(--color-pink-400);

  display: flex;
  justify-content: space-between;

  position: relative;
}

.card {
  width: 20%;
  max-width: 212px;
  border-radius: 16px;

  background-color: var(--color-pink-100);
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card:nth-child(5) > .card_img {
  margin-top: -10px;
}

.card_img {
  height: 184px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.card_content {
  width: 100%;
  background-color: var(--color-pink-400);
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;

  color: var(--color-white);

  padding: 12px;

  font-weight: 600;
  font-size: 18px;

  text-align: center;

  height: 96px;
  display: flex;
  align-items: center;
  justify-content: center;

  line-height: 24px;
}

/* Why Choose */

.card-2 {
  width: 33.33333%;
  max-width: 368px;

  border-radius: 30px;

  background-color: var(--color-pink-100);

  padding-block: 40px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 18px;
  font-weight: 600;

  position: relative;
}

.card-2_img {
  position: absolute;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background-color: var(--color-gray-100);

  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3000;

  top: -100%;
}

.card-2_circle {
  width: 130px;
  height: 130px;

  background-color: var(--color-pink-400);
  border-radius: 50%;

  position: absolute;
  z-index: 1;

  left: 45%;
  top: -93%;
  transform: translateX(-45%);
}

/* Provider */

.card-3 {
  width: 50%;
  max-width: 585px;

  background-color: var(--color-white);
  border-radius: 30px;

  padding: 20px;

  display: flex;
  align-items: center;

  gap: 20px;

  font-size: 18px;
  font-weight: 600;
  color: var(--color-pink-500);
}

.card-3_img {
  min-width: 100px;
  height: 100px;
  border-radius: 20px;
  background-color: var(--color-pink-400);

  display: flex;
  align-items: center;
  justify-content: center;
}

.card-3_img > img {
  width: 90px;
  height: 90px;
  object-fit: contain;
}

.card-3_content {
  width: 100%;
  max-width: 378px;
}

.card-3_content.card-3_content--4 {
  max-width: 310px;
}

.card-3_content.card-3_content--2 {
  display: none;
}

/* Work */

.section_block {
  width: 100%;
  padding: 10px;
  background-color: var(--color-pink-400);

  border-radius: 16px;

  margin-bottom: 22px;

  display: flex;
  align-items: center;
  gap: 27px;
}

.section_block:last-child {
  margin-bottom: 0;
}

.section_block-number {
  width: 60px;
  height: 60px;

  border-radius: 10px;

  background-color: var(--color-gray-100);

  display: grid;
  place-items: center;

  font-size: 20px;
  font-weight: 600;

  color: var(--color-pink-400);
}

.section_block {
  color: var(--color-white);

  font-size: 18px;
  font-weight: 600;
}

.block {
  position: absolute;
  top: -45%;
  right: 8%;
}

/* Catalog */

.catalog {
  display: flex;
  gap: 21px;

  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

.catalog--mob {
  display: none;
}

.catalog--web {
  display: flex;
}

.catalog_big {
  width: 212px;
  height: 445px;
  background-color: var(--color-blue-400);
}

.catalog_big-img {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.catalog_small-1--block,
.catalog_big,
.catalog_small-1--big {
  border-radius: 30px;

  padding: 30px;

  position: relative;

  overflow: hidden;
}

.catalog_big-img::before {
  content: "";
  display: block;

  width: 399px;
  height: 399px;

  bottom: -50%;
  right: -100%;

  border-radius: 50%;
  background-color: var(--color-blue-200);
  position: absolute;
  z-index: -1;
}

.catalog_small-1 {
  display: flex;
  gap: 21px;
}

.catalog_small-1--big {
  width: 500px;
  height: 212px;
  background-color: var(--color-pink);
}

.catalog_small-img-1--big {
  position: absolute;
  right: 0;
  bottom: 0;
}

.catalog_small-1--block {
  width: 212px;
  height: 212px;

  background-color: #f5b7ff;
  color: var(--color-pink-500);

  line-height: 24px;
}

.catalog_small-img-1::before,
.catalog_big-img-2::before {
  content: "";
  display: block;

  width: 260px;
  height: 260px;

  border-radius: 50%;
}

.catalog_small-img-1::before {
  background-color: #c489ff;
  bottom: -70%;
}

.catalog_small-2--big {
  background-color: #aa8aee;
}

.catalog_small-img-2--big {
  position: absolute;

  bottom: 0;
  left: 10%;
}

.catalog_big-img--2::before {
  display: none;
}

.catalog_small-1--block--2 {
  color: white;
  background-color: #6e2dc3;
}

.catalog_small-2--block,
.catalog_small-3--block {
  color: var(--color-white);
}

.catalog_small-2--block {
  background-color: #e0428e;
  position: relative;
}

.catalog_big-img-2 {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.catalog_big-img-2::before {
  background-color: #ff82be;
  position: absolute;
  z-index: -1;

  bottom: -90%;
  right: -55%;
}

.catalog_big-img-3,
.img2 {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.catalog_small-3--block {
  background-color: #20a1ff;
  position: relative;
}

/* Button */

.btn {
  display: inline-block;
  padding-block: 18px;
  padding-inline: 44px;
  background-color: transparent;

  border: 3px solid var(--color-pink-400);
  border-radius: 20px;

  font-size: 18px;
  font-weight: 700;

  color: var(--color-pink-400);

  cursor: pointer;
  transition: color 0.2s linear, background-color 0.2s linear,
    border-color 0.2s linear;
}

.btn:hover {
  background-color: var(--color-pink-400);
  color: var(--color-white);
}

.btn:active {
  background-color: var(--color-pink-700);
  border-color: var(--color-pink-700);
}

/* Register */

.register {
  align-items: center;
}

.section--register {
  overflow: auto !important;
}

.register_content {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 60px;
}

.register_arrow {
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translateY(-60%);
}

.register_perple {
  width: 100%;
  max-width: 100%;
  min-width: 300%;
  height: 400px;

  background-color: var(--color-pink-500);
  position: absolute;

  border-top-right-radius: 500px;
  border-bottom-right-radius: 500px;
  z-index: -1;

  left: -240%;
  bottom: 0;
}

/* Footer */

.footer {
  padding-block: 36px;

  width: 100%;

  background-color: var(--color-gray-100);

  overflow: hidden;
}

.footer_inner {
  color: var(--color-block-700);

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer_title {
  color: var(--color-gray-300);
  font-size: 12px;

  margin-bottom: 12px;
}

.nav_link {
  display: block;
  color: inherit;
  text-decoration: none;
  margin-bottom: 12px;

  font-size: 14px;
  font-weight: 500;
}

.footer_time {
  font-size: 16px;
  margin-bottom: 8px;
}

.footer_contact {
  display: grid;
  grid-template-columns: 15ch auto;

  column-gap: 31px;
  row-gap: 8px;
}

.footer_contact-block {
  display: flex;
  align-items: center;
  gap: 8px;
}

.footer_pol {
  color: var(--color-gray-300);
  font-size: 14px;
}

.section_block-link {
  color: #ffe102;
}

/* Media Query */

@media (max-width: 1024px) {
  .container {
    padding: 0 40px;
  }

  .main_img {
    display: none;
  }

  .main_inner {
    display: flex;
    align-items: center;
  }

  .main_img-car {
    position: static;
  }

  /* Section */

  .section_title {
    font-size: 26px;
  }

  /* Cards */

  .section_inner--cards {
    display: block;
  }

  .card {
    width: 100%;
    max-width: 100%;

    display: flex;
    flex-direction: row;

    margin-bottom: 16px;
  }

  .card_img {
    width: 103px;
    height: 76px;
  }

  .card_img > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .card:nth-child(5) > .card_img {
    margin-top: 0;
  }

  .card_content {
    border-bottom-left-radius: 0;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px;

    height: auto;
  }

  /* Register */

  .register_arrow {
    top: 20%;
    left: 42%;

    z-index: -1;

    width: 140px;
  }

  /* Card - 2 */

  .section_inner.section_inner--card-2 {
    gap: 10px;
  }

  .card-2 {
    max-width: 238px;
  }

  /* Catalog */

  .catalog {
    font-size: 14px;
  }

  .catalog--mob {
    display: none;
  }

  .catalog--web {
    display: flex;
  }

  .catalog,
  .catalog_small-1,
  .catalog_small-1 {
    gap: 13px;
  }

  .catalog_small-1--block,
  .catalog_big,
  .catalog_small-1--big {
    padding: 12px;

    border-radius: 16px;
  }

  .catalog_small-img-1 > img,
  .catalog_big-img-2 > img,
  .catalog_big-img-3 > img {
    height: 85px;
  }

  .catalog_small-img-1--big > img {
    width: 240px;
  }

  .catalog_big {
    width: 140px;
    height: 293px;
  }

  .catalog_big-img::before {
    bottom: -140%;
    right: -190%;
  }

  .catalog_small-1--block {
    width: 140px;
    height: 135px;
  }

  .catalog_small-1--big {
    width: 300px;
    height: 135px;
  }

  .catalog_small-img-1::before {
    width: 135px;
    height: 135px;

    bottom: -80%;
    left: -50%;
  }

  .catalog_big-img-2::before {
    bottom: -220%;
    right: -150%;
  }

  /* Card-3 */

  .card-3 {
    width: 100%;
    max-width: calc(100% - 51%);

    padding: 12px;

    font-size: 16px;
    font-weight: 500;

    border-radius: 16px;
  }

  .card-3_img {
    min-width: 68px;
    height: 68px;

    border-radius: 8px;
  }

  .card-3_img > img {
    width: 68px;
    height: 68px;
  }

  .card-3_content {
    display: none;
  }

  .card-3_content.card-3_content--2,
  .card-3_content.card-3_content--1,
  .card-3_content.card-3_content--3,
  .card-3_content.card-3_content--4 {
    display: block;

    width: 100%;
    max-width: 241px;
  }

  .block {
    right: 2%;
    top: 50%;
    transform: translateY(-50%);
  }

  .block > img {
    width: 355px;
  }

  /* Register */

  .register_perple {
    max-width: 492px;
    height: 241px;
    bottom: -5%;
  }

  /* Footer  */

  .footer_inner {
    align-items: center;
  }

  .footer_inner-block--info,
  .footer_inner-block--contact {
    display: none;
  }
}

@media (max-width: 500px) {
  .container {
    padding: 0 15px;
  }

  .header {
    background-color: var(--color-pink-500);
  }

  .header_inner {
    color: var(--color-white);
  }

  .header_logo {
    display: none;
  }

  .header_logo-white {
    display: block;
  }

  .header_contact,
  .header_web {
    display: none;
  }

  .header_contact.header_contact--mob {
    display: block;
  }

  /* Icons */

  #icons {
    stroke: var(--color-white);
  }

  /* Main */

  .main_content {
    width: 100%;
    max-width: 100%;

    margin-bottom: 72px;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .main_inner {
    display: block;
    text-align: center;
  }

  .main_title {
    font-size: 28px;
  }

  .main_subtitle {
    font-size: 16px;

    width: 100%;
    max-width: 276px;
  }

  /* Section */

  .section {
    padding-block: 100px;
  }

  .section_title {
    font-size: 24px;
  }

  /* Card */

  .card {
    justify-content: flex-start;
  }

  .card_content {
    font-size: 13px;
    font-weight: 500;

    justify-content: flex-start;
    
    padding-inline: 20px;
    padding-block: 14px;

    width: 100%;

  }

  .card_content > div {
    width: 100%;
    max-width: 200px;
  }
  
  .card_content.card_content--1 > div {
    max-width: 130px;
  }

  
  .card_img.card_img--2 {
    margin-top: 4px;
  }

  /* Register */

  .section--register {
    background-color: var(--color-pink-100);

    padding-top: 100px !important;
  }

  .register {
    display: block;
  }

  .register_arrow {
    display: none;
  }

  .register_img {
    margin-bottom: 28px;
  }

  .register_content-logo {
    width: 120px;

    position: absolute;
    top: 35%;
    transform: translateY(-35%);
    right: 0;
  }

  /* Button */

  .btn {
    padding-inline: 20px;
  }

  /* Card-2 */

  .section--card-2 {
    padding-top: 100px !important;
  }

  .card-2 {
    font-size: 14px;
    font-weight: 500;
    text-align: center;

    background-color: transparent;

    padding-block: 25px;
  }

  .card-2_img {
    width: 100px;
    height: 100px;
  }

  .card-2_img > img {
    width: 60%;
    height: 100%;
    object-fit: contain;
  }

  .card-2_circle {
    width: 100px;
    height: 100px;

    left: 42%;
  }

  /* Catalog */

  .catalog {
    font-size: 11px;
  }

  .catalog--mob {
    display: block;
  }

  .catalog_small-1,
  .catalog_small-1--block {
    width: 127px !important;
    height: 107px !important;
  }

  .catalog_small-1--big {
    height: 107px !important;
  }

  .btn--mob {
    margin-top: 20px !important;
  }

  .catalog--web {
    display: none;
  }

  .catalog-1,
  .catalog-2,
  .catalog-3 {
    display: flex;
    gap: 11px;

    margin-bottom: 11px;
  }

  .catalog_big {
    height: auto;
  }

  .catalog_big-img {
    width: 80px;

    right: 5px;
  }

  .catalog_small-img-1::before,
  .catalog_big-img-2::before,
  .catalog_big-img::before {
    display: none;
  }

  .line-height {
    line-height: 14px;
  }

  .catalog_big,
  .catalog_small-1--big,
  .catalog_small-1--block {
    border-radius: 16px;
  }

  .catalog_small-img-2--big {
    left: 2%;
  }

  .catalog_big-img {
    right: 0;
  }

  .catalog_small-img-1.catalog_small-img-5 {
    height: 90px;

    right: 5px;
  }

  .catalog_small-img-1.catalog_small-img-5 > img {
    height: 100%;
    object-fit: cover;
  }

  .catalog_big-img--2 {
    width: auto;
    height: 100px;

    bottom: -22px;
  }

  .catalog_big-img--one {
    height: 80px;
    right: -15px;
  }

  .catalog_big-img--one > img {
    height: 100%;
    object-fit: contain;
  }

  .catalog_big-img--2 > img {
    height: 100%;
    object-fit: contain;
  }

  .catalog_big-img-3 {
    bottom: -15px;
  }

  /* Card-3 */

  .section_inner--card3 {
    display: block;
  }

  .card-3 {
    width: 100%;
    max-width: 100%;


    border-radius: 16px;

    margin-bottom: 0 !important;
    margin-bottom: 12px !important;

    padding: 0;
  }

  .card-3_content {
    padding-block: 7px;

    font-size: 13px;
    line-height: 18px;

    width: 100%;
    max-width: 220px;

    display: block;
  }

  .card-3_content.card-3_content--4 {
    max-width: 210px;
  }

  .card-3_content.card-3_content--2 {
    display: none;
  }

  .card-3:nth-child(3) {
    margin-bottom: 12px;
  }

  .card-3_img {
    border-radius: 0;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
  }

  .card-3_img {
    min-width: 68px;
    height: 72px;
  }

  .card-3_img > img {
    width: 58px;
    height: 72px;
  }

  .img.card-3_img--1 {
    margin-bottom: -12px !important;
  }

  /* Work */

  .block {
    display: none;
  }

  .section_title {
    margin-bottom: 28px;
  }

  .section_block {
    background-color: transparent;
    color: var(--color-pink-500);

    padding: 0;

    font-size: 14px;

    margin-bottom: 8px;

    gap: 12px;
  }

  .section_block-number {
    width: 36px;
    height: 36px;

    border-radius: 8px;
    font-size: 14px;
  }

  .section_block-link {
    color: var(--color-pink-400) !important;
  }

  /* Footer */

  .footer_inner-block > img {
    width: 100px !important;
  }
}
