body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  background-color: var(--color-white);
  color: var(--color-white);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0 0 10px 5px;
  padding: 0;
}

hr {
  margin-block: 24px;
  padding: 0;
  height: 0;
  border: none;
  border-top: 1px solid var(--color-gary-200);
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}

.text-center {
  text-align: center;
}

/* Container */

.container {
  width: 100%;
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

.no-scroll {
  overflow: hidden;
}

/* Page */

.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

:root {
  --color-block-700: #0e0d35;
  --color-pink-700: #571c7d;
  --color-pink-500: #6d219c;
  --color-pink-400: #9139ae;
  --color-pink-300: #8f00be;
  --color-pink-200: #bd47e4;
  --color-pink-100: #eee3f7;
  --color-pink: #b34dd4;
  --color-white: #ffffff;
  --color-gray-100: #f2f2f2;
  --color-gary-200: #e6e6e6;
  --color-gray-300: #626c7a;
  --color-yellow: #ffe102;
  --color-blue-200: #6c8aff;
  --color-blue-400: #3f5ccc;
}

/* Header */

.header {
  width: 100%;
}

.header_inner {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--color-pink-400);
}

.header_content {
  gap: 32px;
}

.header_content,
.header_contact,
.header_web,
.header_lang {
  display: flex;
  align-items: center;
}

.header_contact,
.header_lang {
  gap: 8px;
}

.header_web {
  gap: 16px;
}

.header_web img,
.header_lang,
.header_contact {
  cursor: pointer;
}

/* Main */

.main {
  width: 100%;
  height: 760px;
  position: relative;

  background-color: var(--color-pink-500);

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main_inner {
  position: relative;
}

.main_img {
  position: absolute;
  top: -50%;
  right: -2%;
}

.main_img-car {
  position: absolute;
  right: 3%;
  top: -20%;
}

.main_title {
  font-size: 48px;
  font-family: "Montserrat", sans-serif;

  font-weight: 700;

  margin-bottom: 50px;
}

.main_title span {
  color: var(--color-yellow);
}

.main_subtitle {
  font-size: 20px;

  width: 100%;
  max-width: 368px;
}

/* Section */

.section {
  width: 100%;
  padding-block: 140px;
}

.section--pink {
  background-color: var(--color-pink-100);
}

.section_title {
  text-align: center;

  margin-bottom: 60px;
  color: var(--color-pink-400);
  font-weight: 700;
  font-size: 32px;
}

/* Cards */

.section_inner {
  color: var(--color-pink-400);

  display: flex;
  justify-content: space-between;

  position: relative;
}

.card {
  width: 20%;
  max-width: 212px;
  border-radius: 16px;

  background-color: var(--color-pink-100);
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card:nth-child(5) > .card_img {
  margin-top: -10px;
}

.card_img {
  height: 184px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.card_content {
  width: 100%;
  background-color: var(--color-pink-400);
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;

  color: var(--color-white);

  padding: 12px;

  text-align: center;
  font-weight: 600;
  font-size: 18px;
}

/* Why Choose */

.card-2 {
  width: 33.33333%;
  max-width: 368px;

  border-radius: 30px;

  background-color: var(--color-pink-100);

  padding-block: 40px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 18px;
  font-weight: 600;

  position: relative;
}

.card-2_img {
  position: absolute;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background-color: var(--color-gray-100);

  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3000;

  top: -100%;
}

.card-2_circle {
  width: 130px;
  height: 130px;

  background-color: var(--color-pink-400);
  border-radius: 50%;

  position: absolute;
  z-index: 1;

  left: 45%;
  top: -93%;
  transform: translateX(-45%);
}

/* Provider */

.card-3 {
  width: 50%;
  max-width: 585px;

  background-color: var(--color-white);
  border-radius: 30px;

  padding: 20px;

  display: flex;
  align-items: center;

  gap: 20px;

  font-size: 18px;
  font-weight: 600;
  color: var(--color-pink-500);
}

.card-3_img {
  width: 100px;
  height: 100px;
  border-radius: 20px;
  background-color: var(--color-pink-400);

  display: flex;
  align-items: center;
  justify-content: center;
}

/* Work */

.section_block {
  width: 100%;
  padding: 10px;
  background-color: var(--color-pink-400);

  border-radius: 16px;

  margin-bottom: 22px;

  display: flex;
  align-items: center;
  gap: 27px;
}

.section_block:last-child {
  margin-bottom: 0;
}

.section_block-number {
  width: 60px;
  height: 60px;

  border-radius: 10px;

  background-color: var(--color-gray-100);

  display: grid;
  place-items: center;

  font-size: 20px;
  font-weight: 600;

  color: var(--color-pink-400);
}

.section_block {
  color: var(--color-white);

  font-size: 18px;
  font-weight: 600;
}

.block {
  position: absolute;
  top: -45%;
  right: 8%;
}

/* Catalog */

.catalog {
  display: flex;
  gap: 21px;

  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

.catalog_big {
  width: 212px;
  height: 445px;
  background-color: var(--color-blue-400);
}

.catalog_big-img {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.catalog_small-1--block,
.catalog_big,
.catalog_small-1--big {
  border-radius: 30px;

  padding: 30px;

  position: relative;

  overflow: hidden;
}

.catalog_big-img::before {
  content: "";
  display: block;

  width: 399px;
  height: 399px;

  bottom: -50%;
  right: -100%;

  border-radius: 50%;
  background-color: var(--color-blue-200);
  position: absolute;
  z-index: -1;
}

.catalog_small-1 {
  display: flex;
  gap: 21px;
}

.catalog_small-1--big {
  width: 500px;
  height: 212px;
  background-color: var(--color-pink);
}

.catalog_small-img-1--big {
  position: absolute;
  right: 0;
  bottom: 0;
}

.catalog_small-1--block {
  width: 212px;
  height: 212px;

  background-color: #f5b7ff;
  color: var(--color-pink-500);

  line-height: 24px;
}

.catalog_small-img-1::before,
.catalog_big-img-2::before {
  content: "";
  display: block;

  width: 260px;
  height: 260px;

  border-radius: 50%;
}

.catalog_small-img-1::before {
  background-color: #c489ff;
  bottom: -70%;
}

.catalog_small-2--big {
  background-color: #aa8aee;
}

.catalog_small-img-2--big {
  position: absolute;

  bottom: 0;
  left: 10%;
}

.catalog_big-img--2::before {
  display: none;
}

.catalog_small-1--block--2 {
  color: white;
  background-color: #6E2DC3;
}

.catalog_small-2--block,
.catalog_small-3--block {
  color: var(--color-white);
}

.catalog_small-2--block {
  background-color: #e0428e;
  position: relative;
}

.catalog_big-img-2 {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.catalog_big-img-2::before {
  background-color: #ff82be;
  position: absolute;
  z-index: -1;

  bottom: -90%;
  right: -55%;
}

.catalog_big-img-3,
.img2 {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.catalog_small-3--block {
  background-color: #20a1ff;
  position: relative;
}

/* Button */

.btn {
  display: inline-block;
  padding-block: 18px;
  padding-inline: 44px;
  background-color: transparent;

  border: 3px solid var(--color-pink-400);
  border-radius: 20px;

  font-size: 18px;
  font-weight: 700;

  color: var(--color-pink-400);

  cursor: pointer;
  transition: color 0.2s linear, background-color 0.2s linear,
    border-color 0.2s linear;
}

.btn:hover {
  background-color: var(--color-pink-400);
  color: var(--color-white);
}

.btn:active {
  background-color: var(--color-pink-700);
  border-color: var(--color-pink-700);
}

/* Register */

.register {
    align-items: center;
}

.register_content {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 60px;
}

.register_arrow {
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translateY(-60%);
}

/* Footer */

.footer {
  padding-inline: 28px;
  padding-block: 36px;

  width: 100%;

  background-color: var(--color-gray-100);
}

.footer_inner {
  color: var(--color-block-700);

  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.footer_title {
  color: var(--color-gray-300);
  font-size: 12px;

  margin-bottom: 12px;
}

.nav_link {
  display: block;
  color: inherit;
  text-decoration: none;
  margin-bottom: 12px;

  font-size: 14px;
  font-weight: 500;
}

.footer_time {
  font-size: 16px;
  margin-bottom: 8px;
}

.footer_contact {
  display: grid;
  grid-template-columns: 15ch auto;

  column-gap: 31px;
  row-gap: 8px;
}

.footer_contact-block {
  display: flex;
  align-items: center;
  gap: 8px;
}

.footer_pol {
  color: var(--color-gray-300);
  font-size: 14px;
}
